<div>
  <button (click)="launchDices()">Launch dices</button>
  <span>{{ dices$().dice1 }}</span>
  <span>{{ dices$().dice2 }}</span>
  <span>{{ dices$().dice3 }}</span>
  <span>{{ dices$().dice4 }}</span>
  <span>{{ dices$().dice5 }}</span>
  <p><span>ONES : {{ ones$() }}</span></p>
  <p><span>TWOS : {{ twos$() }}</span></p>
  <p><span>THREES : {{ threes$() }}</span></p>
  <p><span>FOURS : {{ fours$() }}</span></p>
  <p><span>FIVES : {{ fives$() }}</span></p>
  <p><span>SIXES : {{ sixes$() }}</span></p>
  <p><span>PAIR : {{ pairs$() }}</span></p>
  <p><span>TWO PAIRS : {{ twoPairs$() }}</span></p>
  <p><span>THREE OF A KIND : {{ threeOfAKind$() }}</span></p>
  <p><span>FOUR OF A KIND : {{ fourOfAKind$() }}</span></p>
  <p><span>SMALL STRAIGHT : {{ smallStraight$() }}</span></p>
  <p><span>LARGE STRAIGHT : {{ largeStraight$() }}</span></p>
  <p><span>FULL HOUSE : {{ fullHouse$() }}</span></p>
</div>
